{
    "extends": "airbnb-base",
    "env": {
        "browser": true,
        "node": true,
        "jest": true,
        "commonjs": true
      },
      "rules": {
        "import/prefer-default-export": 0,
        "import/no-named-as-default": 0,
        "import/no-named-as-default-member": 0,
        "import/no-useless-path-segments": 0,
        "import/extensions": 0,
        "semi-style": ["error", "last"],
        "no-param-reassign": ["error", { "props": true, "ignorePropertyModificationsFor": ["state"] }]
      }
}